*{
    margin: 0;
    font-family: sans-serif;
}
.return{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.return a{
    text-decoration: none;
    color: white;
}
.retshop{
    margin-right: 10px;
    border: 1px solid lightskyblue;
    padding: 10px;
    border-radius: 50px;
    width: 50px;
    text-align: center;
    background-color: lightskyblue;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;

}
.retshop:hover{
    background-color: white;
    border-color: lightskyblue;
    color: lightskyblue;
    margin-top: -3px;
    margin-bottom: 13px;
}
.rethome{
    margin-left: 10px;
    border: 1px solid rgb(217, 216, 216);
    padding: 10px;
    border-radius: 50px;
    width: 50px;
    text-align: center;
    background-color: rgb(217, 216, 216);
    cursor: pointer;
    transition: 0.5s;
}
.rethome:hover{
    background-color: white;
    border-color: rgb(217, 216, 216);
    color: rgb(217, 216, 216);
    margin-top: -3px;
    margin-bottom: 3px;
}
.img{
    background: url(products/nike\ peace\ black.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 500px;
    margin-top: 50px;
    margin-left: 200px;
}
.form{
    margin-top: -705px;
    margin-left: 750px;
}
.border{
    border: 1px solid black;
    width: 590px;
    margin-left: 5px;
}
.name{
    padding: 20px;
    margin: 5px;
    width: 250px;
    border: none;
    background-color: whitesmoke;
}
.email{
    margin-top: 20px;
    margin-left: 5px;
    padding: 20px;
    width: 555px;
    border: none;
    background-color: whitesmoke;
}
.address{
    margin-top: 20px;
    margin-left: 5px;
    padding: 20px;
    width: 555px;
    border: none;
    background-color: whitesmoke;
}
.optional{
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 5px;
    padding: 20px;
    width: 555px;
    border: none;
    background-color: whitesmoke;
}
.form h1{
    margin-left: 5px;
}
.form h4{
    margin-left: 5px;
    margin-bottom: 10px;
}
.form p{
    margin-left: 5px;
}
.sizes p{
    margin-bottom: 0;
    font-size: 15px;
    font-style: oblique;
}
.sizes{
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.s{
    background-color: #ffffff10;
    padding: 10px;
    width: 50px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
    margin: 5px;
}
.s:hover{
    background-color: black;
    color: white;
}
.info{
    margin-top: 20px;
    padding: 20px;
    margin-left: 5px;
    width: 100px;
    border: none;
    background-color: whitesmoke;
}
.btn{
    margin-top: 20px;
    margin-left: 5px;
    padding: 10px;
    width: 600px;
    font-size: 30px;
    border: none;
    background-color: lightskyblue;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(135, 206, 250, 0.782);
}
.footer{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}
.link a{
    text-decoration: none;
}
.link a:hover{
    color: rgb(255, 111, 0);
}
.quan{
    width: 30px;
    border: none;
    background-color: whitesmoke;
    margin-bottom: 10px;
    margin-top: 10px;
}
span{
    margin-left: 5px;
}
.size{
    margin-left: 5px;
    display: flex;
    margin-top: 10px;
}